.portal_div{
    display: flex;
    justify-content: center;
}

.portal_div .button{
    border: 1px solid #989898;
    background: #faebd7;
    padding: 0px 9px;
    border-radius: 5px;
    text-decoration: none;
}