{% extends "finance/index.html" %}

{% block styles %}
<style>
    .dash_div{
      display: grid;
      justify-content: center;
    }
    .card_div_1{
      display: flex;
      justify-content: center;
    }
    .card{
      margin: 10px 5px;
      width: 150px;
    }
    .card-body, .card-header{
      padding: 0rem 1rem !important
    }
    .add_card{
      width: 310px !important;
      margin: -10px 10px !important;
    }
    .table{
      width: 310px !important;
      margin: -10px 10px;
    }
    .add_card_body{
      padding: 0px 10px !important;
      margin: 4px 6px 4px 0px !important;
    }
    .positive_{
      color: green;
    }
    .nagative_{
      color:#bb0f0f;
    }
</style>
{% endblock %}

{% block content %}
{% csrf_token %}
<div class="dash_div">
  <div class="card_div_1">
      <div class="card text-dark bg-light mb-3">
          <div class="card-header">Income</div>
          <div class="card-body">
            <p class="card-title positive_">+{{income}}</p>
          </div>
      </div>
      <div class="card text-dark bg-light mb-3">
        <div class="card-header">Expence</div>
        <div class="card-body">
          <p class="card-title nagative_">-{{expence}}</p>
        </div>
      </div>
  </div>
  <div class="card_div_1">
    <div class="card add_card text-dark bg-light mb-3">
      <div class="card-body" style="display: flex;justify-content: space-between;">
        <p class="card-title add_card_body">{{final}}</p>
        <div>
          <button type="button" class="btn btn-outline-primary add_card_body" onclick="document.getElementById('add_user').style.display = 'block';document.getElementById('user_name').focus()">Add</button>
          <button type="button" class="btn btn-outline-primary add_card_body" onclick="onSplit()">Split</button>
        </div>
      </div>
    </div>
  </div>
  <div class="card_div_1">
     <div class="card add_card text-dark bg-light mb-3" id="add_user" style="display: none;">
      <div class="card-body" style="display: flex;justify-content: space-between;">
        <input type="text" id="user_name" placeholder="Name" class="card-title add_card_body" style="width: 200px;"></input>
        <button type="button" class="btn btn-outline-primary add_card_body" onclick="saveUser()">Save</button>
      </div>
    </div>
  </div>
   <div class="card_div_1">
     <div class="card add_card text-dark bg-light mb-3" id="split" style="display: none;">
      <div class="card-body" style="display: flex;justify-content: space-between;">
        <div>
          <input type="text" id="split_desc" placeholder="Description" class="card-title add_card_body" style="width: 200px;"></input>
          <input type="number" id="split_amount" placeholder="Amount" class="card-title add_card_body" style="width: 200px;"></input>
        </div>
        <button type="button" class="btn btn-outline-primary add_card_body" onclick="saveSplit()">Save</button>
      </div>
    </div>
  </div>
  <div>
    <table class="table table-bordered">
      <tbody>
        {% for data in user_data %}
        <tr>
          <td class="checkbox_class" id="{{data.id}}"><a href="{% url 'finance:dashboard-transactions-list' data.id %}"><i class="fa fa-bars" style="font-size:24px"></i></a></td>
          <td>{{data.name}}</td>
          <td class="positive_">{{data.income}}</td>
          <td class="nagative_">{{data.expence}}</td>
          <td><i class="fa fa-trash" style="font-size:24px" ondblclick="deleteUser('{{data.id}}')"></i></td>
        </tr>
        {% endfor %}
      </tbody>
    </table>
    <a href="{% url 'account:app-logout' %}"><button type="button" class="btn btn-outline-primary add_card_body" >Logout</button></a>
  </div>
</div>

<script>
  const csrftoken = document.querySelector('[name=csrfmiddlewaretoken]').value;

  function saveUser(){
    var user_name = document.getElementById("user_name").value
    $.ajax({
      url:'/finance/',
      type:"POST",
      headers: {'X-CSRFToken': csrftoken},
      data:{"name":user_name},
      success: function(data){
        $.get(location.href, function(data) {
            $(`.dash_div`).html($(data).find(`.dash_div`).html());
        });
      }
    })
  }

  function deleteUser(user_id){
    $.ajax({
      url:`/finance/${user_id}/`,
      type:"DELETE",
      headers: {'X-CSRFToken': csrftoken},
      success: function(data){
        $.get(location.href, function(data) {
            $(`.dash_div`).html($(data).find(`.dash_div`).html());
        });
      }
    })
  }

  function onSplit(){
    document.getElementById('split').style.display = 'block';
    document.getElementById('split_desc').focus()
    var elements = document.getElementsByClassName("checkbox_class")
    for(var td=0; td<elements.length; td++){
      elements[td].innerHTML =`<input type="checkbox" class="split_checkbox" id="${elements[td].id}"/>`
    }
  }

  function saveSplit(){
    var split_amount = document.getElementById("split_amount").value
    var split_desc = document.getElementById("split_desc").value
    var checkedValue = document.querySelectorAll('.split_checkbox:checked');
    checked_id =[]
    for(var c=0; c<checkedValue.length; c++){
      checked_id.push(checkedValue[c].id)
    }

    if(split_amount && split_desc && checked_id.length > 0){
      $.ajax({
          url:`/finance/split_amount/`,
          type:"POST",
          headers: {'X-CSRFToken': csrftoken},
          data: {"data":JSON.stringify({
                    "split_amount":split_amount,
                    "split_desc":split_desc,
                    "checked_ids":checked_id
                  })},
          success: function(data){
            $.get(location.href, function(data) {
                $(`.dash_div`).html($(data).find(`.dash_div`).html());
        });
      }
    })
    }

  }
</script>
{% endblock %} 