{% extends "finance/index.html" %}

{% block styles %}
<style>
    .dash_div{
      display: grid;
      justify-content: center;
      margin-top: 15px;
      margin-bottom: -15px;
    }
    .card_div_1{
      display: flex;
      justify-content: center;
    }
    .card{
      margin: 10px 5px;
      width: 150px;
    }
    .card-body, .card-header{
      padding: 0rem 1rem !important
    }
    .add_card{
      width: 310px !important;
      margin: -10px 10px !important;
    }
    .table{
      width: 310px !important;
      margin: -10px 10px;
    }
    .add_card_body{
      padding: 0px 10px !important;
      margin: 4px -10px !important;
    }
    .positive_{
      color: green;
    }
    .nagative_{
      color:#bb0f0f;
    }
</style>
{% endblock %}

{% block content %}
<div class="dash_div">
    <div class="card_div_1">
        <div class="card add_card text-dark bg-light mb-3">
            <div class="card-body" style="display: flex;justify-content: space-between;">
                <h3>{{trans_data.0.name}}</h3>
                <button type="button" class="btn btn-outline-primary add_card_body" onclick="document.getElementById('add_tran').style.display = 'block';document.getElementById('disc').focus()">Add</button>
            </div>
        </div>
    </div>
    <div class="card_div_1">
        <div class="card add_card text-dark bg-light mb-3" id="add_tran" style="display: none;">
         <div class="card-body" style="display: flex;justify-content: space-between;">
            <div>
                <form id="transForm">
                    {% csrf_token %}
                    <input type="text" id="disc" name="disc" class="card-title add_card_body" placeholder="Description"></input>
                    <input type="number" id="amount" name="amount" class="card-title add_card_body" placeholder="10"></input><br>
                    <input type="checkbox" id="is_income" name="is_income" />&nbsp;&nbsp;<label>Is income</label> 
                </form>
            </div>
           <button type="button" class="btn btn-outline-primary add_card_body" onclick="saveTrans(event, '{{trans_data.0.id}}')">Save</button>
         </div>
       </div>
     </div>
    <div class="card_div_1">
        <div class="card text-dark bg-light mb-3">
            <div class="card-header">Income</div>
            <div class="card-body">
              <p class="card-title positive_">+{{trans_data.0.income}}</p>
            </div>
        </div>
        <div class="card text-dark bg-light mb-3">
          <div class="card-header">Expence</div>
          <div class="card-body">
            <p class="card-title nagative_">-{{trans_data.0.expence}}</p>
          </div>
        </div>
    </div>
  <div>
    <table class="table table-bordered">
      <tbody>
        {% for data in trans_data.0.trans %}
        <tr>
          <td>{{data.created_on}}</td>
          <td>{{data.disc}}</td>
          <td class="positive_">{% if data.is_income %}{{data.amount}}{% else %} 0 {% endif %}</td>
          <td class="nagative_">{% if not data.is_income %}{{data.amount}}{% else %} 0 {% endif %}</td>
          <td><i class="fa fa-trash" style="font-size:24px" ondblclick="deleteTrans('{{data.id}}')"></i></td>
        </tr>
        {% endfor %}
      </tbody>
    </table>
  </div>
</div>

<script>
    const csrftoken = document.querySelector('[name=csrfmiddlewaretoken]').value
    function saveTrans(event,user_id){
        event.preventDefault()
        var form  =document.getElementById("transForm")
        var formdata = new FormData(form)
        formdata.append("fin_user",user_id)

        
        $.ajax({
            url:'/finance/transactions_create/',
            type:"POST",
            data:formdata,
            processData: false,
            contentType: false,
            headers:{'X-CSRFToken':csrftoken},
            success:function(data){
                $.get(location.href, function(data) {
                    $(`.dash_div`).html($(data).find(`.dash_div`).html());
                });
            }
        })
    }


    function deleteTrans(trans_id){
        $.ajax({
            url:`/finance/${trans_id}/transactions_delete/`,
            type:"DELETE",
            headers:{'X-CSRFToken':csrftoken},
            success:function(data){
                $.get(location.href, function(data) {
                    $(`.dash_div`).html($(data).find(`.dash_div`).html());
                });
            }
        })
    }
</script>
{% endblock %}