{% extends "app/index.html" %}
{% load static %}
{% load crispy_forms_tags %}  
{% block title %} PanelPrime: Task Scheduler {% endblock %}

{% block custom_styles %}
<style>
    .custom_card{
        width: 30rem;
    }
    .result_card{
        margin: 0px 0px 0px 38px;
    }
    .task_div{
        overflow-y: scroll;
        height: 90vh;
        
    }
    .task_div .col:first-child{
        display: flex;
        align-items: center;
    }
    .modal-content {
        background-color: #000 !important;
        border: 1px solid white !important;
    }
</style>
{% endblock%}

{% block content %}
<div class="container" style="display: flex;" >
    <div class="task_div" id="task_list">
        <div class="col">
            <input class="form-control mr-sm-2" oninput="searchTask(this.value)" style="margin: 9px 0px;" type="text" placeholder="Search" aria-label="Search">
            <button type="button" class="btn btn-primary" onclick="base.reloadData('.result_card')">Create</button>
        </div>
        <div id="task_list_main">
            {% for data in task_scheduler_list %}
                <div class="card text-white bg-dark mb-4 custom_card">
                    <div class="card-header">{{data.name}}</div>
                    <div class="card-body">
                    <p class="card-text">Task : {{data.task}}</p>
                    <p class="card-text">Expire : {{data.expires}}</p>
                    <p class="card-text">Start time : {{data.start_time}}</p>
                    <p class="card-text">Last run time: {{data.last_run_at}}</p>
                    <p class="card-text">Total run: {{data.total_run_count}}</p>
                    <p class="card-text">Date changed: {{data.date_changed}}</p>
                    <p class="card-text">Status: {% if data.enabled %}Enabled{% else%}Disabled{% endif %}</p>
                    <div class="row align-items-end">
                        <div class="col">
                            <button type="button" class="btn btn-primary" onclick="EditTask('{{data.id}}')">Edit</button>
                
                            <button type="button" class="btn btn-primary" onclick="ShowResult('{{data.name}}')">Result</button>
        
                            {% if data.enabled %}
                                <button type="button" class="btn btn-primary" onclick="EnableDisableDelete('{{data.id}}','disable')">Disable</button>
                            {% else %}
                                <button type="button" class="btn btn-primary" onclick="EnableDisableDelete('{{data.id}}','enable')">Enable</button>
                            {% endif %}
                        <button type="button" class="btn btn-primary" onclick="EnableDisableDelete('{{data.id}}','delete')">Delete</button></div>
                    </div>
                    </div>
                </div>
            {% endfor %}
        </div>
    </div>
    <div class="card text-white bg-dark mb-3 result_card task_div" >
        <div class="card-header">{{form_title}}</div>
        <div class="card-body">
            <form id="periodicForm" onsubmit="SaveTask(event, '{{periodic_id}}')">
                {% csrf_token %}
                <p class="card-text">{{periodic_form|crispy}}</p>
                <button class="btn btn-primary my-4" type="submit">Submit</button>
            </form>
        </div>
      </div>
</div>

<div class="modal fade" id="task_result" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" style="max-width: 800px;">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLabel">Task Result</h5>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
        </div>
      </div>
    </div>
  </div>

<script>
    function EnableDisableDelete(id,status){
        $.ajax({
            type:"GET",
            url:`/task_scheduler_operation/${id}/?operation=${status}`,
            dataType:"json",
            success:function(data){
                base.reloadData('#task_list')
            }
        })
    }

    function searchTask(value){
        $.ajax({
            type:"GET",
            url:`/task_scheduler/?search=${value}`,
            success:function(data){
                base.replaceDiv('#task_list_main', data)
            }
        })
    }

    function EditTask(id){
        $.ajax({
            type:"GET",
            url:`/task_scheduler/?id=${id}`,
            success: function(data){
                base.replaceDiv('.result_card', data)
            }

        })
    }

    function SaveTask(event, id){
        const csrftoken = document.querySelector('[name=csrfmiddlewaretoken]').value;
        event.preventDefault();
        var form = document.getElementById("periodicForm")
        var formData = new FormData(form)
        formData.append("periodic_id",id)

        $.ajax({
            url:`/task_scheduler/`,
            type:"POST",
            data:formData,
            processData: false,
            contentType: false,
            headers:{'X-CSRFToken':csrftoken},
            success: function(data){
                base.replaceDiv('.result_card', data)
                base.replaceDiv('#task_list', data)
            }
        })
    }

    function ShowResult(periodic_name){
        $.ajax({
            url:`/task_scheduler_result/?periodic_name=${periodic_name}`,
            type:'GET',
            success: function(data) {
                $("#task_result").modal("show")
                $("#task_result .modal-body").html(data)
            }
        })
    }

</script>

{% endblock %}